html
  head
    title!= title
  body
     div
         form(method='get', action='playlist')
            div.input
               span.label Playlist name:
               input(type="text", name="playlist", id='playlist')
            div.actions
               input(type="submit", value="create playlist")

     div
         table(border='1')
             thead
                 tr
                     th Song
                     th Hit
             tbody
                 each result in results
                     tr
                         td= result.search
                         td= result.hit
      div
         span Search with no results:
         br
         textarea(id='nohit', name='nohit', rows='20', cols='100') #{nohit}
