html
  head
    title!= title
  body
     div
         table(border='1')
             thead
                 tr
                     th Song
                     th Hit
             tbody
                 each result in results
                     tr
                         td= result.search
                         td= result.hit
                         td= result.song

      div
      br
      form(method='get', action='playlist')
        input(type="text", name="playlist", id='playlist', value='Playlist name')
        input(type="submit", value="create playlist")

      div
        h3 If you cannot find some songs, go back and retry the search removing album info, or special characters like ñ,à, etc. or remove parts like these (bla) or [bla]